{% extends 'base.html' %}

{% block content %}
    <div class="course-heading">
        <div>
            <h2> 5 Courses</h2>
            <p class="light-grey">20 Topics</p>
        </div>
        <a href="{% url 'add_course' %}" class="primary add-course"><i class="fa-solid fa-plus fa-2x primary"></i></i></a>
    </div>
    <ul class="course-list">
        {% for course in courses %}
        <li class="course">{{ course.name }} <span class="light-grey">5 topics</span></li>
        {% endfor %}
    </ul>
    <div class="empty"></div>
    <footer class="footer-icons row">
        <a href="{% url 'landing_page' %}"><i class="fa-solid fa-house"></i></a>
        <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="{% url 'course_list' %}"><i class="fa-solid fa-list"></i></a>
        <a href=""><i class="fa-solid fa-user"></i></a>
    </footer>
{% endblock %}
