{% extends 'base.html' %}

{% block content %}
    <ul class="course-list">
        {% for course in courses %}
        <li class="course">{{ course.name }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_course' %}">Add New Course</a>
    <footer class="footer-icons row">
        <a href=""><i class="fa-solid fa-house"></i></a>
        <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href=""><i class="fa-solid fa-list"></i></a>
        <a href=""><i class="fa-solid fa-user"></i></a>
    </footer>
{% endblock %}
