{% extends 'base.html' %}

{% block content %}
<div class="course-heading">
    <div>
        <h2>{{ course.name }}</h2>
        <p class="light-grey">{{ topics_count }} Topics</p>
    </div>
    <a href="{% url 'add_topics' course.id %}" class="primary add-course"><i class="fa-solid fa-plus fa-2x primary"></i></i></a>
</div>

    <h2>Topics</h2>
    <ol class="topics">
        {% for topic in course.topics.all %}
        <li class="row topic-item">
            <p>{{ forloop.counter }}.</p>
            <div class="topic-duration">
                <p>{{ topic.title }}</p>
                <p class="primary">{{ topic.description }}</p>
            </div>
        </li>
        {% endfor %}
    </ol>

    <div class="empty"></div>
    <footer class="footer-icons row">
        <a href="{% url 'landing_page' %}"><i class="fa-solid fa-house"></i></a>
        <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="{% url 'course_list' %}"><i class="fa-solid fa-list"></i></a>
        <a href=""><i class="fa-solid fa-user"></i></a>
    </footer>
{% endblock %}
